body {
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: round;
    text-align: center;
    margin-top: 200px;
    
}

main {
    width: 100%;
    height: 100%;
}

h2 {
    width: 40%;
    float: right;
    text-align: center;
    color: rgba(0, 0, 0, 0.479);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;

    padding: 14px;

}

h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    
    
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 40px;
    margin: 0 auto;
    float: left;
    width: 50%;
    padding: 0;
    padding-left: 250px;
    color: rgba(0, 0, 0, 0.479);
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
    padding-right: 12px;
}

.logo {
    width: 150px;
    padding: 3px;
}

.front {
    margin: 0 auto;
    margin-left: 20px;
    width: 160px;
    height: 250px;
    border: none;
    background-color: rgba(0, 0, 0, 0.473);
}

.card-front {
    width: 520px;
    height: 320px;
    border: 2px solid grey;
    box-shadow: black 2px 2px 30px;
    background-color: rgba(255, 255, 255, 0.514);
    margin: 0 auto;
    
}

.redes {
    width: 40px;
}

.redes_socias ul li {
    display: inline-block;
    padding: 12px;
    float: right;
}

